<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rrs.mapper.AdminMapper">

	<select id="searchMember" resultType="member">
		<![CDATA[
			select * from member where id like '%'||#{id}||'%'
		]]>
	</select>
	
	<select id="searchStore" resultType="store">
		<![CDATA[
			select * from store where storeName like '%'||#{storeNo}||'%'
		]]>
	</select>
	
</mapper>
